.u-section-1 {
  background-image: url("images/faq.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 203px;
}

.u-section-1 .u-text-1 {
  margin: 60px 74px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 373px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    text-transform: none;
    font-weight: 400;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 286px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 215px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 96px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 135px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 98px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: -342px;
}
